<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <!-- Match the label with the id of input -->
                <label class="form-label" for="title">Title</label>
                <!-- everything in the request app will be under the req.campground... -->
                <input type="text" class="form-control" id="title" name="campground[title]">
            </div>
            <div class="mb-3">
                <!-- Match the label with the id of input -->
                <label class="form-label" for="image">Image</label>
                <!-- everything in the request app will be under the req.campground... -->
                <input type="text" class="form-control" id="image" name="campground[image]" required>
            </div>
            <div class="mb-3">
                <!-- Match the label with the id of input -->
                <label class="form-label" for="location">Location</label>
                <!-- everything in the request app will be under the req.campground... -->
                <input type="text" class="form-control" id="location" name="campground[location]" required>
            </div>
            <div class="mb-3">
                <!-- Match the label with the id of input -->
                <label class="form-label" for="description">Description</label>
                <!-- everything in the request app will be under the req.campground... -->
                <textarea type="text" class="form-control" id="description" name="campground[description]" required></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="Username" aria-describedby="price-label"  name="campground[price]" required>
                </div>
            </div>
            <button class="btn btn-primary mb-3">Add Campground</button>
        </form>
        <a href="/campgrounds">Back to All Campgrounds</a>
    </div>
</div>
